In [1]:
import numpy as np
import pandas as pd

In [7]:
dfcpu = pd.read_csv('../data/raw/cpu4.csv')
dfcpu = dfcpu.sort_values(by='timestamp', ascending=True)
dfcpu['datetime'] = pd.to_datetime(dfcpu['timestamp'],unit='s')
dfcpu['date'] = dfcpu['datetime'].dt.date
dfcpu['time'] = dfcpu['datetime'].dt.time
dfcpu['month'] = dfcpu['datetime'].dt.month_name()
dfcpu['day'] = dfcpu['datetime'].dt.day_name()
dfcpu['hour'] = dfcpu['datetime'].dt.hour
dfcpu['minute'] = dfcpu['datetime'].dt.minute

dfcpu.to_csv('../data/processed/cpu4.csv', index= False)
# dfcpu = dfcpu.replace({'label': {0.0: False, 1.0: True}})

In [8]:
dfcpu.set_index('datetime', inplace = True)
dfcpu

,timestamp,value,label,date,time,month,day,hour,minute
datetime,,,,,,,,,
2016-07-24 16:00:00,1469376000,0.847300,0,2016-07-24,16:00:00,July,Sunday,16,0
2016-07-24 16:05:00,1469376300,-0.036137,0,2016-07-24,16:05:00,July,Sunday,16,5
2016-07-24 16:10:00,1469376600,0.074292,0,2016-07-24,16:10:00,July,Sunday,16,10
2016-07-24 16:15:00,1469376900,0.074292,0,2016-07-24,16:15:00,July,Sunday,16,15
2016-07-24 16:20:00,1469377200,-0.036137,0,2016-07-24,16:20:00,July,Sunday,16,20
...,...,...,...,...,...,...,...,...,...
2016-09-23 15:35:00,1474644900,0.074292,0,2016-09-23,15:35:00,September,Friday,15,35
2016-09-23 15:40:00,1474645200,0.295152,0,2016-09-23,15:40:00,September,Friday,15,40
2016-09-23 15:45:00,1474645500,0.074292,0,2016-09-23,15:45:00,September,Friday,15,45
2016-09-23 15:50:00,1474645800,-0.146567,0,2016-09-23,15:50:00,September,Friday,15,50
2016-09-23 15:55:00,1474646100,-0.036137,0,2016-09-23,15:55:00,September,Friday,15,55

In [20]:
mindt = dfcpu['datetime'].min()
maxdt = dfcpu['datetime'].max()
print(mindt, maxdt)

2016-07-24 16:00:00 2016-09-23 15:55:00

In [32]:
date_range = pd.DataFrame(pd.date_range(mindt, maxdt, freq='5Min')).set_index(0)
date_range

Empty DataFrame
Columns: []
Index: [2016-07-24 16:00:00, 2016-07-24 16:05:00, 2016-07-24 16:10:00, 2016-07-24 16:15:00, 2016-07-24 16:20:00, 2016-07-24 16:25:00, 2016-07-24 16:30:00, 2016-07-24 16:35:00, 2016-07-24 16:40:00, 2016-07-24 16:45:00, 2016-07-24 16:50:00, 2016-07-24 16:55:00, 2016-07-24 17:00:00, 2016-07-24 17:05:00, 2016-07-24 17:10:00, 2016-07-24 17:15:00, 2016-07-24 17:20:00, 2016-07-24 17:25:00, 2016-07-24 17:30:00, 2016-07-24 17:35:00, 2016-07-24 17:40:00, 2016-07-24 17:45:00, 2016-07-24 17:50:00, 2016-07-24 17:55:00, 2016-07-24 18:00:00, 2016-07-24 18:05:00, 2016-07-24 18:10:00, 2016-07-24 18:15:00, 2016-07-24 18:20:00, 2016-07-24 18:25:00, 2016-07-24 18:30:00, 2016-07-24 18:35:00, 2016-07-24 18:40:00, 2016-07-24 18:45:00, 2016-07-24 18:50:00, 2016-07-24 18:55:00, 2016-07-24 19:00:00, 2016-07-24 19:05:00, 2016-07-24 19:10:00, 2016-07-24 19:15:00, 2016-07-24 19:20:00, 2016-07-24 19:25:00, 2016-07-24 19:30:00, 2016-07-24 19:35:00, 2016-07-24 19:40:00, 2016-07-24 19:45:00, 2016-07-24 19:50:00, 2016-07-24 19:55:00, 2016-07-24 20:00:00, 2016-07-24 20:05:00, 2016-07-24 20:10:00, 2016-07-24 20:15:00, 2016-07-24 20:20:00, 2016-07-24 20:25:00, 2016-07-24 20:30:00, 2016-07-24 20:35:00, 2016-07-24 20:40:00, 2016-07-24 20:45:00, 2016-07-24 20:50:00, 2016-07-24 20:55:00, 2016-07-24 21:00:00, 2016-07-24 21:05:00, 2016-07-24 21:10:00, 2016-07-24 21:15:00, 2016-07-24 21:20:00, 2016-07-24 21:25:00, 2016-07-24 21:30:00, 2016-07-24 21:35:00, 2016-07-24 21:40:00, 2016-07-24 21:45:00, 2016-07-24 21:50:00, 2016-07-24 21:55:00, 2016-07-24 22:00:00, 2016-07-24 22:05:00, 2016-07-24 22:10:00, 2016-07-24 22:15:00, 2016-07-24 22:20:00, 2016-07-24 22:25:00, 2016-07-24 22:30:00, 2016-07-24 22:35:00, 2016-07-24 22:40:00, 2016-07-24 22:45:00, 2016-07-24 22:50:00, 2016-07-24 22:55:00, 2016-07-24 23:00:00, 2016-07-24 23:05:00, 2016-07-24 23:10:00, 2016-07-24 23:15:00, 2016-07-24 23:20:00, 2016-07-24 23:25:00, 2016-07-24 23:30:00, 2016-07-24 23:35:00, 2016-07-24 23:40:00, 2016-07-24 23:45:00, 2016-07-24 23:50:00, 2016-07-24 23:55:00, 2016-07-25 00:00:00, 2016-07-25 00:05:00, 2016-07-25 00:10:00, 2016-07-25 00:15:00, ...]

[17568 rows x 0 columns]

In [33]:
missing_dates  = date_range[~date_range.index.isin(dfcpu.index)]
missing_dates

Empty DataFrame
Columns: []
Index: []